body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.slider-pagination .slider-page {
  background: #000000;
}

.eql-cntrb { 
  font-size: smaller;
}



/* 전체 컨테이너 가운데 정렬 */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; /* 중앙 정렬 */
  text-align: center; /* 텍스트 정렬 */
}

/* 제목 중앙 정렬 */
.centered-title {
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

/* 소제목 중앙 정렬 및 크기 조절 */
.slightly-smaller-title {
  font-size: 1.7em; /* h2보다 살짝 작게 */
  font-weight: 500;
  text-align: center;
  display: block;
  color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* 이미지 컨테이너 가운데 정렬 */
.image-container {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  width: 100%;
  margin: 20px 0;
}

/* 이미지 크기 조절 */
.image-container img {
  max-width: 95%; /* 이미지 크기 자동 조정 */
  height: auto;
  display: block;
  margin: 0 auto; /* 중앙 정렬 */
}

.bibtex-title {
  margin-bottom: 5px;  /* 제목과 BibTeX 코드 사이 간격 조절 */
  text-align: left;  /* 제목 왼쪽 정렬 */
}
.bibtex-container {
  text-align: left;
  margin-left: 0;
  padding-left: 0;
  white-space: pre-wrap; /* 줄바꿈 유지 */
}
